@media only screen and (min-width: 992px) {
    /* ==========================================================================
    Headings and Paragraphs
    ========================================================================== */
    h1.page-title {
        font-size: 2em;
        width: 25%;
        padding: 10px;
    }
    h1.main-head {
        font-size: 3em;
    }

    /* ==========================================================================
    List Items
    ========================================================================== */
    section {
        ul {
            li {
                font-size: .9em;
            }
        }
    }
    /* ==========================================================================
    Links
    ========================================================================== */
    a {
        font-size: 1.3em;
    }
    /* ==========================================================================
    CONTAINER
    ========================================================================== */
    .container {
        width: 90%;
    }
    /* ==========================================================================
    NAVIGATION
    ========================================================================== */
    nav {
        height: 12%;
        li {
            margin-left: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid $lightgray;
        }
    }
    /* ==========================================================================
    JUMBOTRON
    ========================================================================== */
    .jumbotron {
        height: 50%;
    }
    /* ==========================================================================
	SKILLS
	========================================================================== */
    #skills {
    	height: 100%;
    	li {
    		font-size: 1.3em;
    	}
    }
    /* ==========================================================================
    CONTACT
    ========================================================================== */
    #contact {
        height: 60%;
        .one {
            padding: 80px;
            li {
                line-height: 2em;
            }
            .button1 {
                @include button(2em, $white, 10px);
            }
        }
        .two {
            padding: 0;
        }
    }
}

// End Query