@media only screen and (min-width : 992px)
{

/* ==========================================================================
Headings and Paragraphs
========================================================================== */

h1.page-title {
	font-size: 2em;
}

h1.main-head {
	font-size: 3em;
}

/* ==========================================================================
Links
========================================================================== */

a {
	font-size: 1.3em;
}

/* ==========================================================================
CONTAINER
========================================================================== */

.container {
	width: 90%;
}

/* ==========================================================================
NAVIGATION
========================================================================== */

nav {
    height:8%;
    li {
    	margin-left: 20px;
    	padding-bottom: 15px;
    	border-bottom: 1px solid $lightgray;
    }
}

/* ==========================================================================
JUMBOTRON
========================================================================== */

.jumbotron {
	height: 50%;
}

}