/* ==========================================================================
Variables
========================================================================== */
$black: #000;
$white: #fff;
$twittercolor: #32cdfb;
$instagramcolor: #9B6555;
$lightblue: #50bec8;
$gray: #333;
$middlegray: #575756;
$lightgray: #ddd;

/* ==========================================================================
Mixins and Extends
========================================================================== */

.align-center {
    -ms-align-items: center;
    align-items: center;
}

.align-bottom {
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.justify-content {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.justify-end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

@mixin button($fontsize, $color, $padding-top) {
    color: $color;
    border-radius: 0px;
    border: 3px solid $color;
    padding-top: $padding-top;
    padding-bottom: $padding-top;
    padding-left: $padding-top * 2;
    padding-right: $padding-top * 2;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    font-family: 'museo-sans',sans-serif;
    height: 100%;
}

/* ==========================================================================
Headings and Paragraphs
========================================================================== */

p,
.jumbotron p {
    font-size: 1.5em;
    font-weight: 100;
    line-height: 36px;
    color: $gray;
}

h1.page-title,
h1.main-head {
    font-weight: 900;
    text-transform: uppercase;
}

h1.main-head {
    color: $gray;
}

h1.page-title {
    color: $white;
    background: $black;
}

h2.under-head {
    font-size: 1.5em;
    font-weight: 300;
}

h3 {
    font-weight: 500;
}
/* ==========================================================================
List Items
========================================================================== */

section {
    ul {
        display: block;
        li {
            font-weight: 100;
        }
    }
}

/* ==========================================================================
NAVIGATION
========================================================================== */

nav {
    background: transparent;
    .container {
        display: flex;
        height: 100%;
        @extend .align-center;
        .row {
            width: 100%;
            .two {
                display: flex;
                @extend .justify-end;
                ul {
                    li {
                        display: inline-block;
                        a {
                            color: $lightblue;
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
JUMBOTRON
========================================================================== */

.jumbotron {
    padding: 0;
    background: transparent;
    .container {
        display: flex;
        height: 100%;
        @extend .align-bottom;
    }
}

/* ==========================================================================
SKILLS
========================================================================== */

#skills {
    .container,
    .row {
        height: 100%;
    }
    .row {
        display: flex;
        @extend .align-center;
        li {
            font-weight: 500;
        }
    }
}

/* ==========================================================================
CONTACT
========================================================================== */

#contact {
    min-height: 5%;
    .container,
    .row,
    .all {
        height: 100%;
    }
    .all {
        display: flex;
        @extend .align-center;
    }
    .one {
        color: $white;
        background: $gray;
        h1,
        p,
        a {
            color: $white;
        }
        a {
            transition: all 200ms ease;
            &:hover {
                text-decoration: none;
                background: $instagramcolor;
                border: none;
            }
        }
    }
    .two {
        background: $twittercolor;
        a {
            display: flex;
            width: 100%;
            height: 100%;
            @extend .align-center;
            @extend .justify-content;
            &:hover {
                text-decoration: none;
            }
            .fa {
                font-size: 3em;
                color: $white;
            }
        }
    }
}